#haloyelow-callnchat{
     background: rgb(255, 255, 255);
     position: fixed;
     z-index: 9999;
     right: 15px;
     border-radius: 15px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;
     transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
@media screen and (max-width: 430px) {
     #haloyelow-callnchat{
          width: 100% !important;
          right: 0;
          border-radius: 0px;
          height: calc(100% - 73px) !important;
     }
}