/* page styles */
.ax-hidden {
    visibility: hidden;
    position: absolute;
}

/* carousel styles */
@media (min-width: 1024px) {
    .carousel {
        --carousel-height: 500px;
        --carousel-width: 80%;
        --carousel-item-height: 360px;
        --carousel-item-width: 640px;
        width: 100%;
        margin-top: -3rem;
    }
}

@media (max-width: 1024px) {
    .carousel {
        --carousel-height: 500px;
        --carousel-width: 70%;
        --carousel-item-height: 312.75px;
        --carousel-item-width: 556px;
        width: 100%;
        margin-top: -3rem;
    }
}

@media (max-width: 768px) {
    .carousel {
        --carousel-height: 500px;
        --carousel-width: 50%;
        --carousel-item-height: 256.5px;
        --carousel-item-width: 456px;
        width: 100%;
        margin-top: -3rem;
    }
}

@media (max-width: 485px) {
    .carousel {
        --carousel-height: 500px;
        --carousel-width: 50%;
        --carousel-item-height: 168.75px;
        --carousel-item-width: 300px;
        width: 100%;
        margin-top: -8rem;
    }
}

@media (max-width: 392px) {
    .carousel {
        --carousel-height: 500px;
        --carousel-width: 50%;
        --carousel-item-height: 129.38px;
        --carousel-item-width: 230px;
        width: 100%;
        margin-top: -8rem;
    }
}

.carousel-container {
    align-items: center;
    display: flex;
    min-height: var(--carousel-height);
    margin: 0 auto;
    max-width: var(--carousel-width);
    position: relative;
}

.carousel-item {
    height: var(--carousel-item-height);
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    width: var(--carousel-item-width);
    z-index: 0;
}

.carousel-item-1 {
    left: 15%;
    opacity: 0.4;
    height: calc(var(--carousel-item-height) * 0.85);
    width: calc(var(--carousel-item-width) * 0.85);
}

/* .carousel-item-2,
.carousel-item-4 {
    height: calc(var(--carousel-item-height) * 0.85);
    width: calc(var(--carousel-item-width) * 0.85);
    opacity: 1;
    z-index: 1;
}

.carousel-item-2 {
    left: 30%;
} */

.carousel-item-2 {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    height: calc(var(--carousel-item-height) * 1);
    opacity: 1;
    left: 50%;
    width: calc(var(--carousel-item-width) * 1);
    z-index: 2;
}

/* .carousel-item-4 {
    left: 70%;
    height: calc(var(--carousel-item-height) * 0.85);
    width: calc(var(--carousel-item-width) * 0.85);
} */

.carousel-item-3 {
    left: 85%;
    opacity: 0.4;
    height: calc(var(--carousel-item-height) * 0.85);
    width: calc(var(--carousel-item-width) * 0.85);
}

.carousel-controls {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    margin-top: -3rem;
}

/* carousel button styles */
.carousel-control {
    background-color: transparent;
    border: 2px solid;
    border-radius: 4px;
    color: #aaa;
    cursor: pointer;
    height: 22px;
    margin: 0 20px;
    position: relative;
    transform: scale(1.5);
    transition: transform 0.5s ease-out;
    width: 22px;
}

.carousel-control:hover {
    transform: scale(1.8);
    color: #feb500;
}

/* previous button */
.carousel-control-previous::after,
.carousel-control-previous::before {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    top: 5px;
}
.carousel-control-previous::before {
    background: currentColor;
    border-radius: 2px;
    right: 11px;
    width: 2px;
}
.carousel-control-previous::after {
    border-bottom: 4px solid transparent;
    border-right: 5px solid;
    border-top: 4px solid transparent;
    right: 5px;
    width: 0;
}

/* next button */
.carousel-control-next::after,
.carousel-control-next::before {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    top: 5px;
}
.carousel-control-next::before {
    background: currentColor;
    border-radius: 2px;
    left: 11px;
    width: 2px;
}
.carousel-control-next::after {
    border-bottom: 4px solid transparent;
    border-left: 5px solid;
    border-top: 4px solid transparent;
    left: 5px;
    width: 0;
}

/* play button */
.carousel-control-play::before {
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    border-top: 5px solid transparent;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    left: 7px;
    top: 4px;
    width: 0;
}

/* pause button */
.carousel-control-play.playing::before {
    border-bottom: 0;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 0;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 6px;
}

/* add button */
.carousel-control-add::after,
.carousel-control-add::before {
    background: currentColor;
    border-radius: 5px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    left: 4px;
    top: 8px;
    width: 10px;
}
.carousel-control-add::after {
    height: 10px;
    left: 8px;
    top: 4px;
    width: 2px;
}
