* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #3943B7;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 16px 70px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;

  .logo {
    width: 100px;
    margin-right: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .menu {
    flex: 1;

    ul {
      display: flex;
      text-decoration: none;
      list-style: none;
      padding-inline-start: 0;

      .menu-list {
        padding: 4px 12px;
        color: white;
        font-size: 18px;
        cursor: pointer;
      }
      // li {
      //   padding: 4px 12px;
      //   color: white;
      //   font-size: 18px;
      //   cursor: pointer;
      // }

      .list-menu {
        padding: 4px 12px;
        color: rgb(17, 17, 17);
        font-size: 18px;
        cursor: pointer;
      }
    }
  }

  .auth {
    display: flex;
    .btn-auth {
      display: flex;
      align-items: center;

      .btn-daftar {
        background-color: #ffffff;
        color: rgb(24, 23, 23);
        text-decoration: none;
        padding: 8px 24px;
        border-radius: 100px;
        border: none;
        margin-right: 16px;
        font-size: 14px;
      }

      .btn-masuk {
        background-color: #ffffff;
        color: rgb(24, 23, 23);
        text-decoration: none;
        padding: 8px 24px;
        border-radius: 100px;
        border: none;
        margin-right: 16px;
        font-size: 14px;
      }

      .btn-color {
        background-color: #5b20fa;
        border: 1px solid #5b20fa;
        color: rgb(24, 23, 23);
        text-decoration: none;
        padding: 8px 24px;
        border-radius: 100px;
        border: none;
        margin-right: 16px;
        font-size: 14px;
        color: white;
      }

      .btn-outline {
        border: 1px solid #5b20fa;
        color: rgb(24, 23, 23);
        text-decoration: none;
        padding: 8px 24px;
        border-radius: 100px;
        margin-right: 16px;
        font-size: 14px;
        color: #5b20fa;
      }
    }
  }
}

.navbar-inverteds {
  display: flex;
  justify-content: space-between;
  padding: 16px 70px;
  position: fixed;
  background-color: #ffffff;
  top: 0 !important;
  width: 100%;
  z-index: 1;
  height: 79px;
}

.banner {
  height: 806px;
  width: 100%;
  position: relative;
  background-image: url(./assets/bgheader.png);
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: 170px;

  .content-banner {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding-top: 70px;
    .title {
      width: 40%;
      padding-top: 195px;
      padding-left: 70px;

      h1 {
        font-size: 60px;
        width: 75%;
        color: white;
        margin-bottom: 24px;
      }

      p {
        font-size: 16px;
        width: 65%;
        color: white;
        margin-bottom: 24px;
      }
      .btn-content-banner {
        display: flex;
        align-items: center;

        a:first-child {
          background-color: #5b20fa;
          color: white;
          text-decoration: none;
          padding: 12px 32px;
          border-radius: 100px;
          border: none;
          margin-right: 24px;
        }

        a {
          color: white;
          text-decoration: none;
          padding: 12px 32px;
          border-radius: 100px;
          border: 1px solid white;
        }
      }
    }

    .imgcontent {
      width: 880px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 125px;

      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

.about {
  margin-bottom: 60px;
  padding: 70px;
  height: 484px;
  width: 100%;
  position: relative;
  background-image: url(./assets/bg-mas.png);
  background-size: 420px;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .about-youtube {
    width: 556px;
    height: 331px;
    margin-right: 72px;

    iframe {
      border: none;
      border-radius: 6px;
    }
  }

  .about-title {
    width: 40%;

    p:first-child {
      font-size: 16px;
      background-color: white;
      margin-bottom: 6px;
      width: fit-content;
      padding: 6px 15px;
      border-radius: 100px;
    }

    h3 {
      font-size: 42px;
      margin-bottom: 6px;
    }
  }
}

.wrap-instalasi {
  margin-bottom: 70px;
  padding: 70px;
  height: 484px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .instalasi-title {
    width: 40%;

    p:first-child {
      font-size: 16px;
      background-color: white;
      margin-bottom: 6px;
      width: fit-content;
      padding: 6px 15px;
      border-radius: 100px;
    }

    h3 {
      font-size: 42px;
      margin-bottom: 6px;
    }

    ul {
      padding-top: 12px;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        div {
          background-color: #5b20fa;
          height: 30px;
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          margin-right: 6px;
          color: white;
          font-size: 10px;
        }
      }
    }
  }

  .instalasi-image {
    height: 400px;
    width: 620px;
    padding-left: 100px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.wrap-testimon {
  text-align: center;
  margin-bottom: 150px;
  .testimon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
    p:first-child {
      font-size: 16px;
      background-color: white;
      margin-bottom: 6px;
      width: fit-content;
      padding: 6px 15px;
      border-radius: 100px;
    }

    h3 {
      font-size: 42px;
      margin-bottom: 6px;
    }
  }

  .testimon-slide {
    width: 70%;
    margin: 0 auto;

    .item-slide {
      min-height: 300px;
      // height: 300px;
      width: 98%;
      background: white;
      margin: 0 auto;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 16px;

      .avatar {
        height: 80px;
        width: 80px;
        border-radius: 100px;
        border: 3px solid #5b20fa;
        padding: 4px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100px;
          object-fit: cover;
        }
      }

      .testimon-start {
        padding: 10px 0px;
        i {
          color: #3943B7;
        }
      }

      p {
        text-align: justify;
      }

      .testimon-autor {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
      }
    }

    .splide__pagination__page {
      background: #ffffff;
      border: 0;
      border-radius: 4px !important;
      display: inline-block;
      height: 6px !important;
      opacity: 0.7;
      padding: 0;
      position: relative;
      transition: transform 0.2s linear;
      width: 38px;
      margin-right: 8px !important;
    }

    .splide__pagination__page.is-active {
      background: #fa8a20 !important;
      border: 0;
      border-radius: 4px !important;
      display: inline-block;
      height: 6px !important;
      margin-right: 8px !important;
      opacity: 0.7;
      padding: 0;
      position: relative;
      transition: transform 0.2s linear;
      width: 38px !important;
    }

    .splide__pagination__page.is-active {
      background: #fff;
      transform: none;
      z-index: 1;
    }

    .splide__pagination {
      bottom: -2.5em;
      left: 0;
      padding: 0 1em;
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
}

.wrap-trusted {
  .trusted-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;

    h3 {
      font-size: 42px;
      margin-bottom: 6px;
    }
  }
}

.footer {
  margin-top: 210px;
  background-color: #272d3c;
  color: #dcd6d6;
  padding: 32px;

  .content-footer {
    display: flex;

    .about-yelow-f {
      width: 25%;
      padding: 0px 45px;
      img {
        width: 160px;
        padding-bottom: 12px;
      }
      p {
        font-weight: 100;
      }
    }

    .info-footer {
      width: 25%;
      padding: 0px 45px;

      h5 {
        font-size: 18px;
        margin-bottom: 12px;
      }
      p:last-child {
        font-size: 14px;
        margin-bottom: 6px;
        padding-top: 12px;
      }
      p {
        font-size: 14px;
        margin-bottom: 8px;
      }
    }

    .support-footer {
      width: 25%;
      padding: 0px 45px;
      h5 {
        font-size: 18px;
        margin-bottom: 12px;
      }

      p {
        font-size: 14px;
        margin-bottom: 8px;
      }

      p:hover {
        font-size: 14px;
        margin-bottom: 8px;
        color: #fac02d;
        cursor: pointer;
      }
    }

    .download-footer {
      width: 25%;
      padding: 0px 45px;

      h5 {
        font-size: 18px;
        margin-bottom: 12px;
      }

      .link-download-foot {
        margin-bottom: 12px;
        a {
          text-decoration: none;
        }
        .google-play img {
          width: 150px;
          margin-right: 12px;
        }
        .app-store img {
          width: 135px;
        }
      }
      .social-med {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
        }
        .facebook img {
          width: 50px;
          margin-right: 12px;
        }
        .instagram img {
          width: 50px;
          margin-right: 12px;
        }
        .youtube img {
          width: 50px;
          margin-right: 12px;
        }
      }
    }
  }
}
